.floating-icons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: fixed;
  bottom: 10px;
  right: 30px;
}
.floating-chat {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.chat-popup {
  display: none;
  background-color: white;
  opacity: 1;
  width: 280px;
  height: 480px;
  border-radius: 24px;
  border: 2px solid #f2f2f2;
  flex-direction: column;
  overflow: hidden;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: space-between;
  text-align: center;
  padding: 20px 20px 4px;
  position: relative;
  position: fixed;
  bottom: 75px;
  right: 25px;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.5s ease;
  -webkit-transition: opacity 0.3s ease, transform 0.5s ease;
  -moz-transition: opacity 0.3s ease, transform 0.5s ease;
  -ms-transition: opacity 0.3s ease, transform 0.5s ease;
  -o-transition: opacity 0.3s ease, transform 0.5s ease;
}
.chat-popup.show {
  display: flex;
  opacity: 1;
  transform: translateY(0);
}
.chat-text {
  color: #f07908;
  font-size: 16px;
}
.chat-popup-logo {
  display: flex;
  gap: 10px;
  align-items: center;
}
.chat-popup-logo img {
  width: 170px;
}
.close-btns {
  display: flex;
  align-items: center;
}
