footer {
  font-family: "FiraGO";
  background-color: var(--footer-bg-color);
  padding: 10px 0;
}
footer a {
  color: var(--black-text);
  font-family: "FiraGO";
  display: flex;
  white-space: nowrap;
  font-size: 10px;
}

.footer-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  gap: 120px;
}

.conteiner,
.social,
.contacts {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: fit-content;
}

.footer-copyright {
  color: var(--light-black);
  border-top: 1px solid var(--white-text);
  width: 95%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 10px 0;
}

.footer h4 {
  font-size: 12px;
  font-weight: 700;
  color: var(--light-black);
  border-bottom: 1px solid var(--corp-color);
  padding-bottom: 15px;
  margin-bottom: 5px;
}

.social a,
.contacts a {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 1023px) {
  .footer-row {
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 20px;
  }
  .conteiner,
  .social,
  .contacts {
    line-height: 20px;
    white-space: wrap;
}
}
@media (max-width: 290px) {
  .footer-row {
    font-size: 10px;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 0 20px;
    line-height: 20px;
  }
  .conteiner,
  .social,
  .contacts {
    width: 40%;
  }
}
