/* installment */
.components-div {
  width: 95%;
  max-width: 1170px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  margin: 0px auto;
  padding: 10px 20px;
  line-height: 24px;
}
.trade-po-content a {
  color: inherit;
  text-decoration: none;
}
.components-h2 {
  font-family: "FiraGO-Bold";
  padding-bottom: 24px;
  margin-bottom: 30px;
  border-bottom: 2px solid var(--nav-bg-color);
  font-weight: 600;
  font-size: var(--font-size-large);
  line-height: 24px;
  color: var(--black-main);
}
.installment-content {
  width: 100%;
}

.installment-content h3 {
  font-size: 14pt;
  line-height: 1.38;
  text-align: center;
  margin-top: 12pt;
  margin-bottom: 12pt;
  font-weight: 700;
}
.installment-content h4 {
  line-height: 1.38;
  margin-top: 11pt;
  margin-bottom: 2pt;
  font-size: 10pt;
  font-weight: 700;
}
.step-6,
.installment-content p {
  line-height: 1.38;
  margin-top: 12pt;
  margin-bottom: 12pt;
  font-size: 11pt;
}

.installment-content span {
  font-size: 11pt;
  margin-top: 12pt;
  margin-bottom: 12pt;
  font-weight: 700;
}

.installment-content-img-div {
  border: none;
  display: flex;
  justify-content: center;
}
.installment-content-img-div img {
  overflow: hidden;
  width: 602px;
}

.installment-list {
  margin-bottom: 0px;
  padding-inline-start: 48px;
}

.installment-list li {
  list-style-type: disc;
  font-size: 11pt;
  vertical-align: baseline;
  white-space: pre;
}

.installment-list p {
  line-height: 1.38;
  margin-top: 0pt;
  margin-bottom: 0pt;
  font-size: 11pt;
  background-color: transparent;
  vertical-align: baseline;
  text-wrap: wrap;
}
.step-5 {
  display: flex;
  justify-content: center;
}
.step-5 img {
  width: 451px;
}

@media (max-width: 1023px) {
  header{
    height:50px;
  }
  .components-div {
    margin: 0 auto;
    width: 95%;
    padding: 0;
  }
  .components-h2 {
    margin: 0;
    border: none;
  }
  .installment-content {
    padding: 0 20px;
  }

  .installment-content-img-div img,
  .step-5 img {
    width: 100%;
  }
}
