/* trade politics */
main {
  font-family: "FiraGO";
    line-height: 20px;
}
.components-div {
    width: 95%;
    max-width: 1170px;
    font-size: 16px;
    font-family: "FiraGO";
    margin: 0px auto;
    padding: 0px 15px;
    color: var(--black-main)
  }
  .trade-po-content a {
    color: inherit;
    text-decoration: none;
  }
  .components-h2 {
    padding-bottom: 24px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 2px solid var(--nav-bg-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: var(--black-main);
  }
  .trade-po-content h3 {
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;
  }
  .trade-po-content h4 {
    color: rgb(103, 106, 108);
    font-size: 10pt;
    font-weight: 700;
  }
  .trade-po-content p,
  li {
    font-family: "FiraGo";
    font-size: var(--font-size-large);
    line-height: 20px;
    font-weight: 100;
  } 
  .trade-po-content p>li {
    font-weight: 300;
  } 
  @media (max-width: 1023px) {
    .components-div {
      margin: 0 auto;
      width: 95%;
      padding: 0;
    }
    .trade-po-content {
      padding: 0;
    }
    .components-h2 {
      margin: 0;
      border: none;
    }

  }